.classpath
.project
*~
target/*
*/target/*
.settings/*
opt/*
logs/*
*/MANIFEST.MF
.springbeans
*.idea
*.iml
*.log
local.properties
src/main/resources/git.properties
**/node_modules/*
**/bower_components/*
local-conf/*
**/*css.map
**/*js.map
**/resources/dev/*